.cardWrapper {
    width: 1200px;
    margin: 50px auto;
    @media screen and (max-width: 1028px) {
        width: 100%;
        margin: 20px auto;
    }
    .cardWrapper__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2 {
            color: rgb(13, 124, 154);
        }
        button {
            border: 1px solid brown;
            padding: 8px 20px;
            font-size: 16px;
            font-weight: normal;
            cursor: pointer;
            color: black;
            font-weight: 500;
            letter-spacing: 0.04rem;
        }
        @media screen and (max-width: 500px) {
            padding: 0 10px;
            h2 {
                font-size: 18px;
            }
            button {
                font-size: 12px;
                padding: 5px;
                width: 80px;
                height: 30px;
                font-family: 'Plus Jakarta Sans', sans-serif;
            }
        }
    }
    .cardWrapper__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        @media screen and (max-width: 500px) {
            align-items: center;
            flex-direction: column;
        }
        .cardWrapper__card {
            display: flex;
            align-items: stretch;
            max-width: 100%;
            max-height: auto;
        }
    }
}
